[submodule "k8s-hub-novnc-desktop/web/static/novnc"]
	path = k8s-hub-novnc-desktop/web/static/novnc
	url = https://github.com/Jiaza492/noVNC
	branch = k8s-hub-novnc
[submodule "k8s-hub-novnc-desktop/web/static/websockify"]
	path = k8s-hub-novnc-desktop/web/static/websockify
	url = https://github.com/Jiaza492/websockify
	branch = k8s-hub-novnc