[Desktop Entry]
Encoding=UTF-8
Name=Kubeflow
Exec=/usr/bin/firefox http://pitcrewkubeflow.eastus.cloudapp.azure.com
Type=Application
Terminal=false
Icon=/etc/app-icons/kubeflow_desktop.png
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;