[Desktop Entry]
Encoding=UTF-8
Name=RStudio
Exec=/usr/bin/firefox http://rstudio.ds.nga.container:8082
Type=Application
Terminal=false
Icon=/etc/app-icons/rstudio_desktop.png
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;