[Desktop Entry]
Encoding=UTF-8
Name=Apache Spark
Exec=/usr/bin/firefox http://spark.ds.nga.container:8083
Type=Application
Terminal=false
Icon=/etc/app-icons/apache-spark.png
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;